.footer-section {
    width: 100%;
    height: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-navy-blue);
    color: var(--secondary-off-white)
}